.face-1, .back-1{
    transition: all 0.5s;
    perspective: 500px;
}

.card-1:hover .face-1{
    transform: rotateY(-180deg);
}

.back-1{
    transform: rotateY(180deg);
}

.card-1:hover .back-1{
    transform: rotateY(0);
}

.face-1, .back-1{
    backface-visibility: hidden;
}
